*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    padding: 40px;
}

.projectHolder{
    display: flex;
    display: -webkit-flex;
    align-items: stretch;
    justify-content: space-between;
}

.colorBtns{
    width: 30%;
}

#colorGainer{
    background-color: #333;
    width: 65%;
}

.colorBtn{
    display: block;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

.colorBtns a:last-child{
    margin-bottom: 0px;
}

.colorBtn.tomato{
    background-color: tomato;
}

.colorBtn.orange{
    background-color: orange;
}

.colorBtn.dodgerBlue{
    background-color: DodgerBlue;
}

.colorBtn.slateBlue{
    background-color: SlateBlue;
}

.colorBtn.violet{
    background-color: Violet;
}
